# Ignore: rust build artifacts
/target

# Ignore: local dotfiles and directories
**/.*
!**/.gitignore
!/.cargo/
!/.cargo/**

# Ignore: build artifacts
*/build/linker
*/build/linker/**

*/object
*/object/**

# Ignore: idea files
*.IDEA.md
