[env]
KERNEL_DOMAIN_STORAGE_SECTION = "{{ kernel.domain.section_name }}"
KERNEL_SCHEDULE_QUEUE_SECTION = "{{ kernel.schedule.queue.section_name }}"

KERNEL_PATCH_STORAGE_SECTION = "{{ kernel.patch.section_name }}"
KERNEL_PATCH_PATCHSITE_SYMBOL = "{{ kernel.patch.patchsite_symbol }}"

BOOTLOADER_ANCHOR_SECTION = "{{ boot.section_name }}"
BOOTLOADER_ANCHOR_SYMBOL = "{{ boot.symbol }}"

BOOTLOADER_FEATURE_LIST = "{{ boot.feature.list | join(sep=",") }}"
BOOTLOADER_FEATURE_SECTION = "{{ boot.feature.section_name }}"
BOOTLOADER_FEATURE_SYMBOL = "{{ boot.feature.symbol }}"

BOOTLOADER_REQUEST_SECTION = "{{ boot.request.section_name }}"
BOOTLOADER_REQUEST_SYMBOL = "{{ boot.request.symbol }}"
